@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

hr {
  border-color: #e4e4e430;
  margin: 2rem 0;
}

body {
  color-scheme: dark;
  background: #000;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: #E4E4E4;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 0;
  gap: 1rem;
}

img.k7 {
  max-height: 90svh;
  margin-top: 1svh;
  max-width: 50vw;
}

h2,
.h2 {
  font-family: "Kalnia", serif;
  font-weight: 500;
  font-size: 36.6px;
  line-height: 55px;
  margin: 0;
}

h6,
.h6 {
  font-weight: 100;
  font-size: 22.6px;
  margin: 0;
  line-height: 34px;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: #E4E4E4 !important;
}
button{
  font-family: "Kalnia", serif;
  background: #ffffff13;
  border: 1px solid #ffffff44;
  border-radius: .5rem;
  padding: 1rem 1.4rem;
  cursor: pointer;
  margin: 1rem 0;
  min-width: 120px;
  transition: background 0.3s ease;
}
button:hover{
  background: #ffffff26;
  transition: background 0.3s ease;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 4.5rem;
}
.work:nth-child(2n+1){
  flex-direction: row-reverse;
}
.work:nth-child(2n+1) .info{
  text-align: right;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  text-align: left;
}
.tags{
  margin-top: 20px;
}
.thumb{
  background: #1F1F1F;
  border-radius: 8px;
  width: 50%;
  height: 240px;
  overflow: hidden;
}
.thumb img{
  margin: 0;
  width: 100%;
}
img.fill-in{
  margin: 2rem 0;
}
.fw-100{
  font-weight: 100;
}
.d-flex{
  display: flex;
  gap: 20px;
}
.ai-base{
  align-items: baseline;
}
.ai-center{
  align-items: center;
}
.jc-between{
  justify-content: space-between;
}
.flex-row{
  flex-direction: row;
}
.content-full{
  width: 100%;
}
.content{
  text-align: left;
  padding-bottom: 2rem;
}
.jobs {
  margin-top: 2rem;
}
.jobs .job{
  background: #ffffff26;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  border-radius: .5rem;
}
.jobs .job div{
  width: calc(100% / 3);
}
.jobs .job .time{
  text-align: right;
}
.two-cols{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.two-cols .col{
  width: 50%;
}
.contact-form,
.social{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
.social{
  gap: .5rem;
  align-items: flex-end;
}
.social button{
  margin: 0;
  display: flex;
  align-content: center;
  gap: 8px;
  min-width: 146px;
}
.social button img{
  max-height: 1rem;
}
.contact-form input,
.contact-form textarea {
  background: none;
  border: 1px solid #ffffff44;
  border-radius: .5rem;
  padding: 1rem 1.4rem;
  width: 100%;
  min-width: 240px;
  resize: none;
  font-family: "Outfit", sans-serif;
}
input:focus,
textarea:focus{
  outline: 1px solid #ffffff88;
}
@media screen and (max-width: 767px) {
  .container{
    width: calc(100% - 40px);
  }
  .two-cols{
    flex-direction: column;
  }
  .two-cols .col{
    width: 100%;
  }
  .social{
    align-items: center;
  }
  .flex-row{
    flex-direction: column;
  }
  .content{
    text-align: center;
    padding: 0 0 2rem;
    margin-top: -6rem;
  }
  .k7{
    margin: 1svh auto;
  }
  .work{
    flex-direction: column;
  }
  .work:nth-child(2n+1){
    flex-direction: column;
  }
  .work:nth-child(2n+1) .info{
    text-align: left;
  }
  .work .thumb{
    width: 100%;
    height: 180px;
  }
}